.pages label{
    padding-right: .5em;
    font-weight: bold;
    
}

.pages div{
    padding-bottom: .5em;
}
label{
   color: green; 
}
.ui.green.button, .ui.green.buttons .button {
    background-color: #4162c4;
    color: #fff;
    text-shadow: none;
    background-image: none;
}