@media only screen and (min-width: 700px) {

    footer{
      position: fixed;
      left: 0;
      bottom: 0;
      height: 3rem;
      text-align: center;
  }
}

@media only screen and (max-width: 700px) {

    footer{
      position: fixed;
      left: 0;
      bottom: 0;
      height: 4rem;
      text-align: center;
  }
  #main{
      margin-top: 18rem;
  }
}
body{
  font-family: "PingFang SC", "Helvetica Neue", "Microsoft YaHei", Arial, Helvetica, sans-serif !important;
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: auto;
  height: 80rem;
  
}